only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=electron
only-built-dependencies[]=electron-builder
only-built-dependencies[]=@scarf/scarf
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=esbuild
